{% extends "main/index_layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>client account</title>
  </head>

  <body>
    {% block front_content %}

    <div class="page-wrapper">
      {% include 'main/includes/navbar.html' %}
      <!-- End .header -->

      <main class="main">
        <div
          class="page-header text-center"
          style="
            background-image: url('front/assets/images/page-header-bg.jpg');
          "
        >
          <div class="container">
            <h1 class="page-title">
              {{user.first_name}} {{user.last_name}}<span>My Account</span>
            </h1>
            <p class="text-muted lead">
              If you have any questions, please feel free to
              <a href="{% url 'contact' %}">contact us</a>, our customer service
              center is working for you 24/7.
            </p>
          </div>
          <!-- End .container -->
        </div>
        <!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'shop' %}">Shop</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'client_account' %}">Account</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'client_order_list' %}">MyOrder</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Order Details
              </li>
            </ol>
          </div>
          <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="page-content">
          <div class="dashboard">
            <div class="container">
              <div class="row">
                {% include 'main/includes/client_sidebar.html' %}
                <!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                  <p class="lead">
                    Order #{{order.order_number}} was placed on
                    <strong>{{order.created_date|date:'Y-m-d H:i'}}</strong>
                    and is currently
                    <strong>{{order.status}}</strong>.
                  </p>
                  <!-- ORDER TABLE-->
                  <div class="table-responsive">
                    <table class="table text-nowrap">
                      <thead>
                        <tr class="text-sm">
                          <th
                            class="border-gray-300 border-top py-3"
                            colspan="2"
                          >
                            Product
                          </th>
                          <th class="border-gray-300 border-top py-3">
                            Quantity(m)
                          </th>
                          <th class="border-gray-300 border-top py-3 text-end">
                            Unit price
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in order.order_details.all %}
                        <tr class="text-sm">
                          <td class="align-middle border-gray-300 py-3">
                            <a href="#">
                              <img
                                class="img-fluid flex-shrink-0"
                                src="{{data.product_detail.picture.url}}"
                                alt="{{data.product_detail.color}}"
                                style="min-width: 50px"
                                width="100"
                              />
                            </a>
                          </td>
                          <td class="align-middle border-gray-300 py-3">
                            <a href="#"
                              >{{data.product_detail.color}}
                              {{data.product_detail.product.product_name}}</a
                            >
                          </td>
                          <td class="align-middle border-gray-300 py-3">
                            {{data.quantity}} m
                          </td>
                          <td
                            class="align-middle border-gray-300 py-3 text-end"
                          >
                            FRW {{data.product_detail.product.price}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td
                            class="align-middle border-gray-300 py-3 text-end"
                            colspan="3"
                          >
                            Shipping Cost
                          </td>
                          <td
                            class="align-middle border-gray-300 py-3 text-end"
                          >
                            Free
                          </td>
                        </tr>
                        <tr>
                          <th class="border-0 text-end lead py-3" colspan="3">
                            <b>Total</b>
                          </th>
                          <th class="border-0 lead py-3 text-end">
                            <b>FRW {{order.total_amount}}</b>
                          </th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- INVOICE ADDRESS        -->
                  <div class="row gy-4 pb-4 border-bottom border-gray-300">
                    <div class="col-md-12 text-end">
                      <h4 class="text-uppercase">Invoice address</h4>
                      <p class="lead">
                        Name: {{order.client}}<br />
                        Address: {{order.shipping_address}}
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End .col-lg-9 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .container -->
          </div>
          <!-- End .dashboard -->
        </div>
        <!-- End .page-content -->
      </main>
      <!-- End .main -->

      {% include 'main/includes/footer.html' %}
      <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    {% include 'main/includes/mobile_menu.html' %}
    <!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    {% include 'main/includes/login_register.html' %}
    <!-- End .modal -->

    {% endblock %}
  </body>
</html>
