{% load static %}
<aside class="left-sidebar" data-sidebarbg="skin5">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="p-t-30 pt-4">
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'manager_dashboard' %}"
            aria-expanded="false"
          >
            <i class="fas fa-tachometer-alt"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>

        <li class="sidebar-item py-2 mt-3">
          <span class="px-3 hide-menu h6">ABOUT STOCK</span>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
          >
            <i class="fas fa-database"></i>
            <span class="hide-menu"> Product </span>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a
                href="{% url 'manager_productCategory' %}"
                class="sidebar-link"
              >
                <i class="fa fa-list"></i>
                <span class="hide-menu"> Category </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'manager_product' %}" class="sidebar-link">
                <i class="fa fa-list"></i>
                <span class="hide-menu"> Product </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'manager_inventory' %}"
            aria-expanded="false"
          >
            <i class="fas fa-sliders-h"></i>
            <span class="hide-menu">Inventory</span>
          </a>
        </li>

        <li class="sidebar-item py-2 mt-3">
          <span class="px-3 hide-menu h6">ABOUT CLIENT</span>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="{% url 'manager_clientList' %}"
            aria-expanded="false"
          >
            <i class="fas fa-users"></i>
            <span class="hide-menu">Clients</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
          >
            <i class="fas fa-shopping-basket"></i>
            <span class="hide-menu">Client Orders </span>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="{% url 'manager_newOrder' %}" class="sidebar-link">
                <i class="fas fa-shopping-basket"></i>
                <span class="hide-menu"> New Order </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a
                href="{% url 'manager_archieviedOrder' %}"
                class="sidebar-link"
              >
                <i class="fas fa-cubes"></i>
                <span class="hide-menu"> Completed Order </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
          >
            <i class="fa fa-tag"></i>
            <span class="hide-menu"> Custom Order </span>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="{% url 'manager_newCommands' %}" class="sidebar-link">
                <i class="fas fa-shopping-basket"></i>
                <span class="hide-menu"> New Custom Orders </span>
              </a>
            </li>
            <li class="sidebar-item">
              <a
                href="{% url 'manager_completedCommands' %}"
                class="sidebar-link"
              >
                <i class="fas fa-cubes"></i>
                <span class="hide-menu"> Completed Custom Order </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
