{% load static %}
<footer class="footer footer-dark">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6">
          <div class="widget widget-about">
            <h4 class="widget-title">Boutique Ibitangaza</h4>
            <p>
              Praesent dapibus, neque id cursus ucibus, tortor neque egestas
              augue, eu vulputate magna eros eu erat.
            </p>
          </div>
          <!-- End .widget about-widget -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Useful Links</h4>
            <!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="about.html">About Molla</a></li>
              <li><a href="#">How to shop on Molla</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="contact.html">Contact us</a></li>
              <li><a href="login.html">Log in</a></li>
            </ul>
            <!-- End .widget-list -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Customer Service</h4>
            <!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="#">Payment Methods</a></li>
              <li><a href="#">Money-back guarantee!</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
            <!-- End .widget-list -->
          </div>
          <!-- End .widget -->
        </div>
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .footer-middle -->

  <div class="footer-bottom">
    <div class="container">
      <p class="footer-copyright">
        Copyright © 2023 Boutique Ibitangaza. All Rights Reserved.
        <span class="float-right">Rudasigwa Bian</span>
      </p>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .footer-bottom -->
</footer>
