{% load static %}
<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="" method="POST" class="mobile-search">
      {% csrf_token %}
      <label for="search_data" class="sr-only">Search</label>
      <input
        type="search"
        class="form-control"
        name="search_data"
        id="search_data"
        placeholder="Search in..."
        required
      />
      <button class="btn btn-primary" name="search" type="submit">
        <i class="icon-search"></i>
      </button>
    </form>

    <nav class="mobile-nav">
      <ul class="mobile-menu">
        <li class="{{home_active}}">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="{{shop_active}}">
          <a href="{% url 'shop' %}">Shop</a>
        </li>
        <li class="{{custom_active}}">
          <a href="{% url 'customOrder' %}">Custom Order</a>
        </li>
        <li class="{{about_active}}">
          <a href="{% url 'about' %}">About</a>
        </li>
        <li class="{{contact_active}}">
          <a href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="{{account_active}}">
          <a href="{% url 'client_account' %}">My Account</a>
        </li>
      </ul>
    </nav>
    <!-- End .mobile-nav -->
  </div>
  <!-- End .mobile-menu-wrapper -->
</div>
