<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Load the required checkout.js script -->

<!-- Load the required checkout.js script -->
<script
  src="https://www.paypalobjects.com/api/checkout.js"
  data-version-4
></script>
<!-- Load the required Braintree components. -->
<script src="https://js.braintreegateway.com/web/3.39.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.39.0/js/paypal-checkout.min.js"></script>

<script>
  const location_input = document.getElementById("location");
  const street_input = document.getElementById("street");
  const paymentDiv = document.getElementById("accordion-payment");

  location_input.addEventListener("input", validateInputs);
  street_input.addEventListener("input", validateInputs);

  function validateInputs() {
    if (location_input.value.trim() !== "" && street_input.value.trim() !== "") {
      paymentDiv.style.display = "block";
    } else {
      paymentDiv.style.display = "none";
    }
  }

  // Function to convert RWF to USD
  function convertRwfToUsd(amountInRwf) {
    // Fixed conversion rate: 1 RWF = 0.00086 USD
    var conversionRate = 0.00086;
    // Calculate the equivalent amount in USD
    var amountInUsd = amountInRwf * conversionRate;
    // Round the amount to two decimal places
    amountInUsd = amountInUsd.toFixed(2);
    // Return the converted amount
    return amountInUsd;
  }
  window.addEventListener("load", function() {
    var cartItems = [
    {% for item in cart_items %}
        {
            name: "{{item.p_data.color}} {{item.p_data.product.product_name}}",
            quantity: {{item.quantity}},
            price: convertRwfToUsd({{item.p_data.product.price}}),
            sku: "Product",
            currency: "USD"
        },
    {% endfor %}
    ];

    var total = 0;
    for (var a = 0; a < cartItems.length; a++) {
      total += (cartItems[a].price * cartItems[a].quantity);
    }

    // Render the PayPal button
    paypal.Button.render({

      // Set your environment
      env: 'sandbox', // sandbox | production

      // Specify the style of the button
      style: {
        label: 'checkout',
        size: 'responsive', // small | medium | large | responsive
        shape: 'rect', // pill | rect
        color: 'gold', // gold | blue | silver | black,
        layout: 'vertical'
      },

      // PayPal Client IDs - replace with your own
      // Create a PayPal app: https://developer.paypal.com/developer/applications/create

      client: {
        sandbox: 'AavW2aI_AmWyMbAcHIusR7s_daPGye5qtduCZed7kjkeUdVjXCnAFBylweCLWK6F-AlY2NtmZnFaztdJ',
        production: ''
      },

      funding: {
        allowed: [
          paypal.FUNDING.CARD,
          paypal.FUNDING.ELV
        ]
      },

      // set up transaction when a payment button is clicked
      payment: (data, actions) => {
        return actions.payment.create({
          payment: {
            transactions: [{
              amount: {
                total: total,
                currency: 'USD'
              },
              item_list: {
                // custom cartItems array created specifically for PayPal
                items: cartItems
              }
            }]
          }
        });
      },
      // finally the transaction after payer approval
      onAuthorize: (data, actions) => {
        return actions.payment.execute().then(function(orderData) {
            var shipping_location = $('#location').val();
            var shipping_street = $('#street').val();
            var pay_method = "PayPal";
            var dataForm = {
              'shipping_location': shipping_location,
              'shipping_street': shipping_street,
              'pay_method': pay_method,
              'payment_id': data.paymentID,
              'place_order': true,
              'csrfmiddlewaretoken': '{{ csrf_token }}',
            };
            $.ajax({
              method: "POST",
              url: "{% url 'order_confirmation' %}",
              data: dataForm,
              dataType: "json",
            });
            alert('Payment Completed successfully');
            // Or go to another URL
            window.location.href = "{% url 'client_order_list' %}";
        });
      },

      onCancel: function(data, actions) {
        console.log(data);
      }

    }, '#paypal-button-container');
  });
</script>
