{% extends "index_layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>client account</title>
  </head>

  <body>
    {% block front_content %}

    <div class="page-wrapper">
      {% include 'includes/navbar.html' %}
      <!-- End .header -->

      <main class="main">
        <div
          class="page-header text-center"
          style="background-image: url('front/assets/images/page-header-bg.jpg')"
        >
          <div class="container">
            <h1 class="page-title">
              {{user.first_name}} {{user.last_name}}<span>My Account</span>
            </h1>
            <p class="text-muted lead">If you have any questions, please feel free to <a href="{% url 'contact' %}">contact us</a>, our customer service center is working for you 24/7.</p>
          </div>
          <!-- End .container -->
        </div>
        <!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
              <li class="breadcrumb-item">
                <a href="{% url 'client_account' %}">Account</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                My Orders
              </li>
            </ol>
          </div>
          <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="page-content">
          <div class="dashboard">
            <div class="container">
              <div class="row">
                {% include 'includes/client_sidebar.html' %}
                <!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                  <div class="mb-3">
                    {% if not orders %}
                    <p>No Product order has been made yet.</p>
                    <a href="{% url 'shop' %}" class="btn btn-outline-primary-2">
                      <span>GO SHOP</span>
                      <i class="icon-long-arrow-right"></i>
                    </a>
                    {% else %}
                    <p class="text-muted lead"><i class="icon-list"></i> Product Order List</p>
                    <!-- ORDERS TABLE-->
                    <div class="table-responsive">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th width="5%">#</th>
                                        <th>ORDER No.</th>
                                        <th>PAYMENT</th>
                                        <th>PAYMENT METHOD</th>
                                        <th>STATUS</th>
                                        <th>DATE</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for order in orders %}

                                        <tr>
                                            <td>
                                              {{ forloop.counter }}.
                                            </td>
                                            <td>
                                              <a href="{% url 'client_order_details' order.id %}">
                                                #{{order.order_number}}
                                              </a>
                                            </td>
                                            <td>Frw {{order.total_amount}}</td>
                                            <td>{{order.payment_method}}</td>
                                            <td>
                                                <span 
                                                class="badge fw-light text-uppercase {% if order.status == "Pending" %}bg-warning{% elif order.status == "Processing" %}bg-info{% else %}bg-success{% endif %}">
                                                {{order.status}}
                                              </span>
                                            </td>
                                            <td>{{order.created_date|date:'Y-m-d H:i'}}</td>
                                        </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                    </div>
                    {% endif %}
                  </div>
                  <div class="mb-3">
                    {% if not customOrders %}
                    <p>No Custom order has been made yet.</p>
                    <a href="{% url 'customOrder' %}" class="btn btn-outline-primary-2">
                      <span>GO PLACE CUSTOM ORDER</span>
                      <i class="icon-long-arrow-right"></i>
                    </a>
                    {% else %}
                    <p class="text-muted lead"><i class="icon-list"></i> Custom Order List</p>
                    <!-- ORDERS TABLE-->
                    <div class="table-responsive">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>ORDER No.</th>
                            <th>MATERIAL</th>
                            <th>DESIGN</th>
                            <th>STATUS</th>
                            <th>DATE</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order in customOrders %}
                          <tr>
                            <td>{{ forloop.counter }}.</td>
                            <td>
                              <a href="{% url 'client_customOrder_details' order.id %}">
                                #{{order.order_number}}
                              </a>
                            </td>
                            <td>{{order.material.name}}</td>
                            <td>
                              {% if order.picture %}
                              <img
                                src="{{order.picture.url}}"
                                alt="{{order.order_number}} Image"
                                width="100px"
                              />
                              {% else %}
                              <img src="" alt="#{{order.order_number}} Design" class="product-image" />
                              {% endif %}
                            </td>
                            <td>
                              <span class="badge font-bold {% if order.status == "Pending" %}bg-warning {% elif order.status == "Processing" %}bg-info {% elif order.status == "Cancelled" %}bg-danger{% else %}bg-success{% endif %}">
                              {{order.status}}
                              </span>
                            </td>
                            <td>{{order.created_date|date:'d/m/Y'}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <!-- End .col-lg-9 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .container -->
          </div>
          <!-- End .dashboard -->
        </div>
        <!-- End .page-content -->
      </main>
      <!-- End .main -->

      {% include 'includes/footer.html' %}
      <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    {% include 'includes/mobile_menu.html' %}
    <!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    {% include 'includes/login_register.html' %}
    <!-- End .modal -->

    {% endblock %}
  </body>
</html>
