{% extends "staff/manager/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load mathfilters %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Completed Order Details</title>
  </head>

  <body>
    {% block page_content%}
    <div class="page-heading">
      <h1 class="page-title">Completed Order Details</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'manager_dashboard' %}">
            <i class="fa fa-home font-20"></i>
            Dashboard
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'manager_archieviedOrder' %}">
            <i class="fa fa-shopping-basket font-20"></i>
            Orders List
          </a>
        </li>
        <li class="breadcrumb-item text-primary">
          <i class="fa fa-file font-20"></i>
          Order Details
        </li>
      </ol>
    </div>
    <div class="page-content fade-in-up">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Order Details</div>
        </div>
        <div class="ibox-body">
          
        <!-- Container fluid  -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-body printableArea pb-5">
                <h4>
                  <b>Client Order</b>
                  <span class="">No. #{{clientOrder.order_number}}</span>
                </h4>
                <hr class="{% if clientOrder.status == "Pending" %}bg-warning{% else %} bg-cyan {% endif %} py-1" />
                <div class="row">
                  <div class="col-md-12">
                    <div class="pull-left">
                      <address>
                        <h3>
                          <b class="text-info">
                            <i class="fa fa-user"></i>
                            {{clientOrder.client.first_name}}
                            {{clientOrder.client.last_name}}
                          </b>
                        </h3>
                        <p class="m-l-5">
                          <div class="mb-1">
                            Email: {{clientOrder.client.email}},
                          </div>
                          <div class="mb-1">
                            Shipping Address:
                            {{clientOrder.shipping_address}},
                          </div>
                          <div class="mb-1">
                            Payment Method: {{clientOrder.payment_method}},
                          </div>
                          <div class="mb-1">
                            Total Amount: Frw {{clientOrder.total_amount}},
                          </div>
                          <div class="mb-1">
                            <b>Created Date: </b>
                            <i class="fa fa-calendar"></i>
                            {{clientOrder.created_date|date:'d/m/Y'}}
                          </div>
                          <br />
                          <div class="mb-1">
                            Order status:
                            <span class="p-1 bg-success font-bold">
                              {{clientOrder.status}}
                            </span>
                          </div>
                        </p>
                      </address>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th>Product</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Unit Cost</th>
                            <th class="text-right">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for data in clientOrder.order_details.all %}
                          <tr>
                            <td class="text-center">{{ forloop.counter }}.</td>
                            <td>{{data.product.product_name}}</td>
                            <td class="text-right">{{data.quantity}}</td>
                            <td class="text-right">{{data.product.price}}</td>
                            <td class="text-right">
                              {{ data.product.price|mul:data.quantity }}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <hr />
                    <div class="pull-right m-t-30 text-right">
                      <h4><b>Total :</b> {{clientOrder.total_amount}}</h4>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Container fluid  -->
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
