{% extends "staff/manager/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
  </head>

  <body>
    {% block page_content%}
    <div class="page-heading">
      <h1 class="page-title">Product Details</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'manager_dashboard' %}">
            <i class="fa fa-home font-20"></i>
            Dashboard
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'manager_product' %}">
            <i class="fa fa-database font-20"></i>
            Product List
          </a>
        </li>
        <li class="breadcrumb-item text-primary">
          <i class="fa fa-file font-20"></i>
          Product Details
        </li>
      </ol>
    </div>
    <div class="page-content fade-in-up">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Product Details</div>
        </div>
        <div class="ibox-body py-5">
          <button
            type="button"
            class="btn btn-light btn-rounded float-right"
            data-toggle="modal"
            data-target="#delete_confirmation"
          >
            <i class="fa fa-trash text-danger"></i> Delete
          </button>
          <button
            type="button"
            class="btn btn-light btn-rounded float-right mr-1"
            data-toggle="modal"
            data-target="#serviceModal"
          >
            <i class="fa fa-edit text-primary"></i> Edit
          </button>
          <div class="row">
            <div class="col-md-6">
              <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {% for p_image in product.product_images.all %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <!-- Single Slide -->
                    {% if p_image.picture %}
                    <img class="d-block w-100"
                      src="{{p_image.picture.url}}"
                      alt="{{product.product_name}} Image"
                    />
                    {% else %}
                    <img class="d-block w-100"
                      src=""
                      alt="{{product.product_name}} Image"
                    />
                    {% endif %}
                  </div>
                  {% endfor %}
                  <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"><span>
                    <span class="sr-only">Previous<span>
                  </a>
                  <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"><span>
                    <span class="sr-only">Next<span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End .col-md-6 -->
    
            <div class="col-md-6">
              <div class="product-details">
                <div class="mb-3">
                  <span class="font-bold">Product Name:</span><br/>
                  <h4>{{product.product_name}}</h4>
                </div>
                <div class="mb-3">
                  <span class="font-bold">Category:</span><br/>
                  <h6>{{product.category.category_name}}</h6>
                </div>
                <div class="mb-3">
                  <span class="font-bold">Description:</span><br/>
                  <p class="my-2">{{product.description}}</p>
                </div>
                <div class="mb-3">
                  <span class="font-bold">Price:</span><br/>
                  <p class="my-2">Frw {{product.price}}</p>
                </div>
                <div class="mb-3">
                  <span class="font-bold">Stock Quantity:</span><br/>
                  <p class="my-2">{{product.quantity}}</p>
                </div>
              </div>
              <!-- End .product-details -->
            </div>
            <!-- End .col-md-6 -->
          </div>
        </div>
      </div>
    </div>
    
    <div
      class="modal fade"
      id="serviceModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="serviceModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="serviceModalTitle">
              <i class="fa fa-edit"></i> EDIT PRODUCT DETAILS
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form
            action=""
            method="post"
            role="form"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group mb-0">
                <label class="col-form-label">Product Category</label>
                <select
                  id="inputStatus"
                  name="category"
                  class="form-control custom-select"
                  required
                >
                  <option disabled>Select Category</option>
                  {% if categories %}{% for category in categories %}
                  <option value="{{category.id}}" {% if category.category_name == product.category.category_name %} selected {% endif %} >
                    {{category.category_name}}
                  </option>
                  {% endfor %}{% endif %}
                </select>
              </div>
              <div class="form-group mb-0">
                <label class="col-form-label">Product Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="product_name"
                  placeholder="Product Name ..."
                  value="{{ product.product_name }}"
                  required
                />
              </div>
              <div class="form-group mb-0">
                <label class="col-form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Description ..."
                  name="description"
                >{{ product.description }}</textarea>
              </div>
              <div class="form-group mb-0">
                <label class="col-form-label">Color</label>
                <input
                  type="text"
                  class="form-control"
                  name="color"
                  placeholder="Product Color ..."
                  value="{{ product.color }}"
                  required
                />
              </div>
              <div class="form-group mb-0">
                <label class="col-form-label">Price ( Frw )</label>
                <input
                  type="number"
                  class="form-control"
                  name="price"
                  value="{{ product.price }}"
                  min="0"
                  required
                />
              </div>
              <div class="form-group mb-0">
                <label class="col-form-label">Stock Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  name="quantity"
                  value="{{ product.quantity }}"
                  min="0"
                  required
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" name="update_productInfo" class="btn btn-success">
                <i class="fa fa-save"></i>
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    
    <div
      class="modal fade"
      id="delete_confirmation"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalTitle">
              <i class="fa fa-trash text-danger"></i> DELETE PRODUCT
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <h6 align="center">
                Are you sure you want to delete <br />
                Product "{{product.product_name}}" ?
              </h6>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="delete_product"
                class="btn btn-danger"
              >
                Yes, Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    {% endblock %}
  </body>
</html>
