{% extends "staff/manager/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
  </head>

  <body>
    {% block page_content%}
    <div class="page-heading">
      <h1 class="page-title">My Profile</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'manager_dashboard' %}">
            <i class="fa fa-home font-20"></i>
            Dashboard
          </a>
        </li>
        <li class="breadcrumb-item text-primary">
          <i class="fa fa-user font-20"></i>
          My Profile
        </li>
      </ol>
    </div>
    <div class="page-content fade-in-up">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Chief Commune Profile</div>
        </div>
        <div class="ibox-body pb-20">
          <div class="row">
            <div class="col-md-12">
              <div class="form-example-wrap">
                <div class="card-body py-5">
                  <div class="row">
                    <div class="col-lg-12 mb-4">
                      <span class="">
                        Full names:
                        <h4 class="title">
                          {{user.first_name}} {{user.last_name}}
                        </h4>
                      </span>
                    </div>
                    <div class="col-lg-12 mb-1">
                      <p>
                        Email:
                        <span class="h6">{{ user.email }}</span>
                      </p>
                    </div>
                    <div class="col-lg-12 mb-1">
                      <p>
                        Phone:
                        <span class="h6">{{ user.phone }}</span>
                      </p>
                    </div>
                    <div class="col-lg-12 mb-1">
                      <p>
                        Gender:
                        <span class="h6">{{ user.gender }}</span>
                      </p>
                    </div>
                    <div class="col-lg-12 mt-30 py-5">
                      <hr />
                      <button
                        type="button"
                        class="btn btn-light btn-rounded float-right mr-1"
                        data-toggle="modal"
                        data-target="#updateAddresModal"
                      >
                        <i class="fa fa-settings text-primary"></i> Change
                        Password
                      </button>
                      <h6 class="sub-title">User Credential</h6>
                      <div class="row">
                        <div class="col-sm-12 col-xl-6">
                          <p>
                            Email:
                            <span class="h6"> {{ user.email }} </span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                          <p>
                            Password:
                            <span class="h6"> ******** </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="modal fade"
            id="updateAddresModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="updateAddresModalTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateAddresModalTitle">
                    <i class="fa fa-cogs"></i> CHANGE PASSWORD
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="old_pass"> Old password </label>
                      <input
                        type="password"
                        class="form-control"
                        name="old_pass"
                        id="old_pass"
                        placeholder="Old password ..."
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="pass1">New Password</label>
                      <input
                        type="password"
                        class="form-control"
                        name="pass1"
                        id="pass1"
                        placeholder="New password ..."
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="pass2">Confirm Password</label>
                      <input
                        type="password"
                        class="form-control"
                        name="pass2"
                        id="pass2"
                        placeholder="Confirm password ..."
                        required
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      name="update_password"
                      class="btn btn-success"
                    >
                      <i class="fa fa-save"></i>
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
