{% extends "main/dashboard/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Profile</title>
  </head>

  <body>
    {% block main_content%}

    <!-- Bread crumb -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block py-4 align-items-center">
          <h4 class="page-title">
            <i class="fas fa-users m-b-5"></i>
            Client Profile
          </h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'manager_dashboard' %}"> Dashboard </a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'manager_clientList' %}"> Client List </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Client Profile
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fas fa-user"></i> Client Profile
              </h5>

              <div class="row py-4 px-5">
                <div class="col-lg-12 mb-4">
                  <span class="">
                    Full names:
                    <h4 class="title">
                      {{ data.client.first_name }} {{ data.client.last_name }}
                    </h4>
                  </span>
                </div>
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>Email: <span class="h5">{{ data.client.email }}</span></p>
                </div>
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>Phone: <span class="h5">{{ data.phone_number }}</span></p>
                </div>
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>
                    Gender: <span class="h5">{{ data.client.gender }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-xl-12 mb-1">
                  <p>
                    Addresss:
                    <span class="h5">{{ data.location }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Container fluid  -->

    {% endblock %}
  </body>
</html>
