{% extends "main/dashboard/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block main_content%}

    <!-- Bread crumb -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block py-4 align-items-center">
          <h4 class="page-title">
            <i class="fa fa-home m-b-5"></i>
            Dashboard
          </h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Container fluid  -->
    <div class="container-fluid">
      <!-- Start Page Content -->
      <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-4">
          <div class="card card-hover">
            <div class="box bg-warning text-center">
              <h1 class="font-light text-white">
                <i class="fas fa-shopping-basket m-b-5"></i>
              </h1>
              <h5 class="m-b-0 m-t-5 font-bold">{{orders_data.count}}</h5>
              <h6 class="text-white">New Orders</h6>
            </div>
          </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-4">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="fa fa-tag m-b-5"></i>
              </h1>
              <h5 class="m-b-0 m-t-5 font-bold">656</h5>
              <h6 class="text-white">New Commands</h6>
            </div>
          </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-4">
          <div class="card card-hover">
            <div class="box bg-success text-center">
              <h1 class="font-light text-white">
                <i class="fa fa-users m-b-5"></i>
              </h1>
              <h5 class="m-b-0 m-t-5 font-bold">{{clients_count}}</h5>
              <h6 class="text-white">Clients</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"><h5>New Orders</h5></div>
            <div class="card-body table-responsive">
              <table id="zero_config" class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Order Number</th>
                    <th>Client</th>
                    <th>Total Amount</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders_data %}
                  <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>
                      <a
                        class="text-info"
                        href="{% url 'manager_clientDetails' order.id %}"
                      >
                        #{{order.order_number}}
                      </a>
                    </td>
                    <td>
                      <i class="fas fa-user"></i>
                      <span>
                        {{order.client.first_name}} {{order.client.last_name}}
                      </span>
                      <br />
                      Email: {{order.client.email}}
                    </td>
                    <td>Frw {{order.total_amount}}</td>
                    <td>{{order.payment_method}}</td>
                    <td>
                      <span class="badge font-bold {% if order.status == "Pending" %}bg-warning{% else %} bg-info {% endif %}">
                      {{order.status}}
                      </span>
                    </td>
                    <td>{{order.created_date}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <a class="btn btn-outline-info" href="{% url 'manager_newOrder' %}">
                <i class="fas fa-shopping-basket"></i> Show More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Container fluid  -->

    {% endblock %}
  </body>
</html>
