{% extends "main/dashboard/main.html" %} {% load new_filters %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Inventories</title>
  </head>

  <body>
    {% block main_content%}

    <!-- Bread crumb -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block py-4 align-items-center">
          <h4 class="page-title">
            <i class="fas fa-shopping-basket m-b-5"></i>
            Stock Inventories
          </h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'manager_dashboard' %}"> Dashboard </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Stock Inventories
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Inventories</h5>
              <div class="table-responsive">
                <table
                  id="zero_config"
                  class="table table-stripeds table-borderedd"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Total Price</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for inventory in inventories %}
                    <tr>
                      <td>{{ forloop.counter }}.</td>
                      <td>
                        Name: {{inventory.product.product_name}} <br />
                        Category: {{inventory.product.category.category_name}}
                        <br />
                      </td>
                      <td>
                        {{inventory.quantity}}
                      </td>
                      <td>Frw {{inventory.total_price}}</td>
                      <td>
                        <span class="font-bold {% if inventory.movement_type == "Stock In" %} text-success{% else %} text-cyan {% endif %}">
                          {{inventory.movement_type}}
                        </span>
                      </td>
                      <td>{{inventory.date_time}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Container fluid  -->
    {% endblock %}
  </body>
</html>
