{% extends "main/dashboard/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Commands</title>
  </head>

  <body>
    {% block main_content%}

    <!-- Bread crumb -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block py-4 align-items-center">
          <h4 class="page-title">
            <i class="fas fa-shopping-basket m-b-5"></i>
            New Commands
          </h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'manager_dashboard' %}"> Dashboard </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  New Commands
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New Commands List</h5>
              <div class="table-responsive">
                <table
                  id="zero_config"
                  class="table table-stripeds table-borderedd"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Order Number</th>
                      <th>Client</th>
                      <th>Total Amount</th>
                      <th>Payment Method</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders_data %}
                    <tr>
                      <td>{{ forloop.counter }}.</td>
                      <td>
                        <a
                          class="text-info"
                          href="{% url 'manager_newOrderDetails' order.id %}"
                        >
                          #{{order.order_number}}
                        </a>
                      </td>
                      <td>
                        <i class="fas fa-user"></i>
                        <span>
                          {{order.client.first_name}} {{order.client.last_name}}
                        </span>
                        <br />
                        Email: {{order.client.email}}
                      </td>
                      <td>Frw {{order.total_amount}}</td>
                      <td>{{order.payment_method}}</td>
                      <td>
                        <span class="badge font-bold {% if order.status == "Pending" %}bg-warning{% else %} bg-cyan {% endif %}">
                        {{order.status}}
                        </span>
                      </td>
                      <td>{{order.created_date}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Container fluid  -->

    {% endblock %}
  </body>
</html>
