{% extends "main/dashboard/main.html" %} {% load new_filters %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Command Details</title>
  </head>

  <body>
    {% block main_content%}

    <!-- Bread crumb -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block py-4 align-items-center">
          <h4 class="page-title">
            <i class="fas fa-shopping-basket m-b-5"></i>
            New Command Details
          </h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'manager_dashboard' %}"> Dashboard </a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'manager_newCommands' %}"> New Commands List </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Command Details
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-body printableArea pb-5">
            <h3>
              <b>Client Command</b>,
              <span class="pull-right">No. #{{clientOrder.order_number}}</span>
            </h3>
            <hr class="{% if clientOrder.status == "Pending" %}bg-warning{% else %} bg-cyan {% endif %} py-1" />
            <div class="row">
              <div class="col-md-12">
                <div class="pull-left">
                  <address>
                    <h3>
                      <b class="text-info">
                        <i class="fas fa-user"></i>
                        {{clientOrder.client.first_name}}
                        {{clientOrder.client.last_name}}
                      </b>
                    </h3>
                    <p class="m-l-5">
                      <div class="mb-1">
                        Email: {{clientOrder.client.email}},
                      </div>
                      <div class="mb-1">
                        Shipping Address:
                        {{clientOrder.shipping_address}},
                      </div>
                      <div class="mb-1">
                        Payment Method: {{clientOrder.payment_method}},
                      </div>
                      <div class="mb-1">
                        Total Amount: {{clientOrder.total_amount}},
                      </div>
                      <div class="mb-1">
                        <b>Created Date: </b>
                        <i class="fa fa-calendar"></i>
                        {{clientOrder.created_date}}
                      </div>
                      <br />
                      <div class="mb-1">
                        Order status:
                        <span class="p-1 {% if clientOrder.status == "Pending" %}bg-warning{% else %} bg-cyan {% endif %} font-bold">
                          {{clientOrder.status}}
                        </span>
                      </div>
                    </p>
                  </address>
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-responsive m-t-40" style="clear: both">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Product</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Unit Cost</th>
                        <th class="text-right">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in clientOrder.order_details.all %}
                      <tr>
                        <td class="text-center">{{ forloop.counter }}.</td>
                        <td>{{data.product.product_name}}</td>
                        <td class="text-right">{{data.quantity}}</td>
                        <td class="text-right">{{data.product.price}}</td>
                        <td class="text-right">
                          {{ data.product.price|multiply:data.quantity }}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-12">
                <div class="pull-right m-t-30 text-right">
                  <h3><b>Total :</b> {{clientOrder.total_amount}}</h3>
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="text-right">
                  <button
                    data-toggle="modal"
                    data-target="#actionModal"
                    class="btn btn-info"
                  >
                  <i class="fas fa-cogs"></i>
                    Process to Order
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Container fluid  -->
    
    <div
      class="modal fade"
      id="actionModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="actionModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="serviceModalTitle">
              <i class="fas fa-cogs"></i> PROCESS ORDER
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form
            action=""
            method="post"
            role="form"
          >
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group mb-0">
                <label class="col-form-label">Take action on order</label>
                <select
                  id="inputStatus"
                  name="action_status"
                  class="form-control custom-select"
                  required
                >
                  <option disabled>Select Action</option>
                  <option value="Pending" {% if clientOrder.status == "Pending" %} selected {% endif %} >
                    Pending
                  </option>
                  <option value="Processing" {% if clientOrder.status == "Processing" %} selected {% endif %} >
                    Processing
                  </option>
                  <option value="Success" {% if clientOrder.status == "Success" %} selected {% endif %} >
                    Completed
                  </option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" name="take_action" class="btn btn-success">
                <i class="fa fa-save"></i>
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
