{% extends "main/dashboard/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Category</title>
  </head>

  <body>
    {% block main_content%}

    <!-- Bread crumb -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block py-4 align-items-center">
          <h4 class="page-title">
            <i class="fa fa-list m-b-5"></i>
            Product Category
          </h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'manager_dashboard' %}"> Dashboard </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Product Category
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Category List</h5>
              <div class="table-responsive">
                <button
                  type="button"
                  class="btn btn-outline-info btn-sm ml-3 float-right"
                  data-toggle="modal"
                  data-target="#serviceModal"
                >
                  <i class="fa fa-plus"></i>
                  New Category
                </button>
                <table
                  id="zero_config"
                  class="table table-stripeds table-borderedd"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Category Name</th>
                      <th>All products</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for category in categories %}
                    <tr>
                      <td>{{ forloop.counter }}.</td>
                      <td>{{category.category_name}}</td>
                      <td>{{category.products.all.count}}</td>
                      <td>
                        <a
                          class="text-info"
                          href="{% url 'manager_categoryDetails' category.id %}"
                        >
                          <i class="fas fa-folder-open"></i> View
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Container fluid  -->

    <div
      class="modal fade"
      id="serviceModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="serviceModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="serviceModalTitle">
              REGISTER NEW PRODUCT CATEGORY
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group mb-0">
                <label class="col-form-label">Category Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="category_name"
                  placeholder="Category Name ..."
                  required
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="new_pCategory"
                class="btn btn-success"
              >
                <i class="fa fa-save"></i>
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
